<div class="layout-container">

  <header class="banner">
    {# Logo #}
    {{ page.logo }}
    {# Menu List Top #}
    {{ page.navigation_menu_top }}
    {# Menu List Bottom #}
    {{ page.navigation_menu_bottom }}
    {# Search Menu for Hamburger Menu #}
    <div class="hamburgersection">
      {{ page.hamburger }}
      {# Footer for Hamburger #}
      <div class="hamburgerfooter">
        <footer role="contentinfo">
          {{ page.footer }}
          {# Footer Bottom #}
          <div class="footerlower">
            {# Footer Social Site Icons to be shown on top for Mobile.#}
            <div class="socialiconmobile">
              {{ page.footer_social_icon }}
            </div>
            <div class="footer_legal_section">
              {# Footer Logo #}
              <div class="branding">
                <a href="{{ path('<front>') }}" rel="home">
                  <img class="footer_logo" src="themes/custom/foxnews/assets/images/logo/fox-news-footer-logo-square.svg" />
                </a>
              </div>
              {# Footer Legal Information #}
              <div class="legal">
                {{ page.footer_legal }}
                {{ page.footer_legal_text}}
              </div>
              {# Footer Social Icon to be shown at righty corner for Laptop #}
              <div class="socialiconlaptop">
                {{ page.footer_social_icon }}
              </div>
            </div>
          </div>
        </footer>
      </div>      
    </div>
  </header>

  {# TOP BANNER #}
  {% if page.top_banner %}
  <div class="top-banner">
      {{ page.top_banner }}
  </div>
  {% endif %}

   <main role="main"> 
    <a id="main-content" tabindex="-1"></a> {# link is in html.html.twig #}
    {# Wrapper for aside and content #}
    {# Left Side Start #}
    
    {# Home Page starts Here to divide in 3 sections #}
    {# <div class="home-page"> 
      <aside class="sidebar-left" role="complementary"> 
        <div class="left-video-wrapper"> 
          {{ page.sidebar_video_first }} 
          <div class="sidebar-first">
            {{ page.sidebar_logo }}
            <div class="on-now">
              {{ page.on_now }}
              {{ page.fox_and_friends }}
            </div>
          </div>
        </div> #}
        {# Exclusive Clips #}
        {# {% if page.sidebar_exclusive_clips %}
          <div class="left-video-wrapper">
            {{ page.sidebar_exclusive_clips }}
          </div>
        {% endif  %}   #}
      {# </aside> Left Side Ends   #}

      {# {% if %} #}
        {# <div class="home-content">
        {% if page.home_content %}
          {{ page.home_content }}
        {% endif %}
        {% if page.other_news %}
          {{ page.other_news}}
        {% endif %}  
        </div> #}
      {# {% endif %} #}
      {# {% if page.sidebar_right %}
        {% if page.advertisement %}
          {% if page.foxnation %} #}
{#}            <aside class="sidebar-right" role="complementary"> {# Right Side Start #}
              {# <div class="right-section-wrapper">
                {{ page.sidebar_right }}
              </div>
              <div class="">
                {{ page.advertisement }}
              </div>
              <div class="right-section-wrapper">  
                {{ page.foxnation}}
              </div> #}
{#}            </aside> {# Right Side End #}
          {# {% endif %}
        {% endif %}
        {% endif %}
 #}

{#}    </div> {# Home Page ends Here #}

  </main>  
  


  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
      {# Footer Bottom #}
      <div class="footerlower">
        {# Footer Social Site Icons to be shown on top for Mobile.#}
        <div class="socialiconmobile">
          {{ page.footer_social_icon }}
        </div>
        <div class="footer_legal_section">
          {# Footer Logo #}
          <div class="branding">
            <a href="{{ path('<front>') }}" rel="home">
              <img class="footer_logo" src="themes/custom/foxnews/assets/images/logo/fox-news-footer-logo-square.svg" />
            </a>
          </div>
            {# Footer Legal Information #}
          <div class="legal">
            {{ page.footer_legal }}
            {{ page.footer_legal_text}}
          </div>
          {# Footer Social Icon to be shown at righty corner for Laptop #}
          <div class="socialiconlaptop">
            {{ page.footer_social_icon }}
          </div>
        </div>
      </div>
    </footer>
  {% endif %}

</div> {# layout-container #}
