<div class="layout-container">

  <header class="banner">
    {# Logo #}
    {{ page.logo }}
    {# Menu List Top #}
    {{ page.navigation_menu_top }}
    {# Menu List Bottom #}
    {{ page.navigation_menu_bottom }}
    {# Search Menu for Hamburger Menu #}
    <div class="hamburgersection">
      {{ page.hamburger }}
      {# Footer for Hamburger #}
      <div class="hamburgerfooter">
        <footer role="contentinfo">
          {{ page.footer }}
          {# Footer Bottom #}
          <div class="footerlower">
            {# Footer Social Site Icons to be shown on top for Mobile.#}
            <div class="socialiconmobile">
              {{ page.footer_social_icon }}
            </div>
            <div class="footer_legal_section">
              {# Footer Logo #}
              <div class="branding">
                <a href="{{ path('<front>') }}" rel="home">
                  <img class="footer_logo" src="themes/custom/foxnews/assets/images/logo/fox-news-footer-logo-square.svg" />
                </a>
              </div>
              {# Footer Legal Information #}
              <div class="legal">
                {{ page.footer_legal }}
                {{ page.footer_legal_text}}
              </div>
              {# Footer Social Icon to be shown at righty corner for Laptop #}
              <div class="socialiconlaptop">
                {{ page.footer_social_icon }}
              </div>
            </div>
          </div>
        </footer>
      </div>      
    </div>
  </header>

  {# Top Banner #}
  {% if page.top_banner %}
    <div class="layout-top-banner" role="complementary">
      {{ page.top_banner }}
    </div>
  {% endif %}
  
  <main role="main">
    <a id="main-content" tabindex="-1"></a> {# link is in html.html.twig #}

    {# <div class="layout-content">
      {{ page.content }}
    </div>/.layout-content #}
    {# {{ page.left_sidebar}}
    {{ page.content }}
    {{ page.right_sidebar}}

    {{ page.content_list }}
    {{ page.content_first }} #}
    

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
      {# Footer Bottom #}
      <div class="footerlower">
        {# Footer Social Site Icons to be shown on top for Mobile.#}
        <div class="socialiconmobile">
          {{ page.footer_social_icon }}
        </div>
        
        <div class="footer_legal_section">
          {# Footer Logo #}
          <div class="branding">
            <a href="{{ path('<front>') }}" rel="home">
              <img class="footer_logo" src="themes/custom/foxnews/assets/images/logo/fox-news-footer-logo-square.svg" />
            </a>
          </div>
            {# Footer Legal Information #}
          <div class="legal">
            {{ page.footer_legal }}
            {{ page.footer_legal_text}}
          </div>
          {# Footer Social Icon to be shown at righty corner for Laptop #}
          <div class="socialiconlaptop">
            {{ page.footer_social_icon }}
          </div>
        </div>
      </div>
    </footer>
  {% endif %}

</div> {# layout-container #}
